<!-- Application header -->
<header class="md-header" data-md-component="header">
    <div class="top-header">
        <div class="md-grid">
            <div class="logo">
                <a href="https://docs.pivotal.io" class="global-header-title">
                    <img class='tanzu-logo' src="https://d1fto35gcfffzn.cloudfront.net/images/docs/logo-tanzu-docs.svg"/>
                </a>
            </div>

            <div class="sub">
                <a href="https://pivotal.io/support" target="_blank">Support</a>
                <a href="https://network.pivotal.io/" target="_blank">Downloads</a>
                <a href="https://pivotal.io/contact" target="_blank">Contact Us</a>
                <a href="https://login.run.pivotal.io/" target="_blank">Sign In</a>
            </div>
        </div>
    </div>
    <!-- Top-level navigation -->
    <nav class="md-header__inner md-grid" aria-label="{{ lang.t('header.title') }}">

        <!-- Link to home -->
        <a
                href="{{ config.site_url | default(nav.homepage.url, true) | url }}"
                title="{{ config.site_name }}"
                class="md-header__button md-logo"
                aria-label="{{ config.site_name }}"
        >
            {% include "partials/logo.html" %}
        </a>

        <!-- Button to open drawer -->
        <label class="md-header__button md-icon" for="__drawer">
            {% include ".icons/material/menu" ~ ".svg" %}
        </label>

        <!-- Header title -->
        <div class="md-header__title" data-md-component="header-title">
            {% if config.site_name == page.title %}
                <div class="md-header__ellipsis">
                    <div class="md-header__topic">
                        <span class="md-ellipsis">
                            {{ config.site_name }}
                            {% include "partials/_version_dropdown.html" %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="md-header__ellipsis">
                    <div class="md-header__topic">
                        <span class="md-ellipsis">
                            {{ config.site_name }}
                            {% include "partials/_version_dropdown.html" %}
                        </span>
                    </div>
                    <div class="md-header__topic" data-md-component="header-topic">
                        <span class="md-ellipsis">
                            {% if page.meta and page.meta.title %}
                                {{ page.meta.title }}
                            {% else %}
                                {{ page.title }}
                            {% endif %}
                            {% include "partials/_version_dropdown.html" %}
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="md-header__options">
          {% if config.extra.alternate %}
            <div class="md-select">
              {% set icon = config.theme.icon.alternate or "material/translate" %}
              <span class="md-header__button md-icon">
       {% include ".icons/" ~ icon ~ ".svg" %}
     </span>
              <div class="md-select__inner">
                <ul class="md-select__list">
                  {% for alt in config.extra.alternate %}
                    <li class="md-select__item">
                      <a href="{{ alt.link | url }}" class="md-select__link">
                        {{ alt.name }}
                      </a>
                    </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>

        <!-- Button to open search dialogue -->
        {% if "search" in config["plugins"] %}
        <label class="md-header__button md-icon" for="__search">
            {% include ".icons/material/magnify.svg" %}
        </label>

        <!-- Search interface -->
        {% include "partials/search.html" %}
        {% endif %}

        <!-- Repository containing source -->
        {% if config.repo_url %}
        <div class="md-header__source">
            {% include "partials/source.html" %}
        </div>
        {% endif %}
    </nav>
</header>